.box {
    transition: all 2s;
    width: fit-content;
    height: fit-content;
    background: rgb(50, 50, 50);
    box-shadow: -5px 5px 2px 0 rgba(0, 0, 0, 0.5);
    
    padding: 30px;
    border: 1px solid whitesmoke;
}

#long_trans {
    transition: all 5s;
}

.column {
    float: left;
    padding: 10px;
}
  
  /* Clear floats after image containers */
.row::after {
    clear: both;
    display: table;
}