svg {
  fill: #000000;
  transition: fill 1.5s ease;
}

.grid-svg {
  display: block;
  place-items: center;
  margin: auto;
  max-width: 100%;
  height: auto;
  width: 50vw;
}

.grid-png {
  display: block;
  place-items: center;
  margin: auto;
  max-width: 100%;
  height: auto;
  width: auto;
}

.shadow {
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(5px 5px 5px #000);
}
